<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

    <!-- 定义自己的WxAppender -->
    <appender name="WxAppender" class="com.github.wirechen.WxAppender">
        <!-- 必填项：添加openid，多个可以用英文逗号分割 -->
        <param name="openIds" value="xxx"/>
        <!-- 非必填项 -->
        <filter class="com.github.wirechen.WxFilter">
            <!-- 过滤包名：只有该包下的日志才能触发报警 -->
            <param name="packageToMatch" value="com.xxx"/>
            <!-- 过滤日志开头：以特定内容开头的日志才能触发报警 -->
            <param name="stringToMatch" value="【微信报警】"/>
            <!-- 过滤日志等级：有levelMin和levelMax，可自行调节，默认只有WARN级别日志才会触发报警 -->
            <param name="levelMax" value="WARN"/>
        </filter>
    </appender>

    <!--控制台的日志Appender-->
    <appender name="ConsoleAppender" class="org.apache.log4j.ConsoleAppender">
        <!-- 日志输出样式 -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [method:%l]%n%m%n%n" />
        </layout>
    </appender>

    <root>
        <priority value="INFO"/>
        <appender-ref ref="ConsoleAppender"/>
        <!-- 最后，不要忘了要在root下添加你的WxAppender -->
        <appender-ref ref="WxAppender"/>
    </root>

</log4j:configuration>